<div class="container AboutComponent__container mt-5" id="aboutSection">
    <div class="row">
        <div class="col-4">
            <h2>Lorem ipsum dolor sit amet</h2>
        </div>
        <div class="col-8">
            <div class="row" v-for="i in projectCardInfo">
                <div class="col">
                    <!-- each project card will be passed info: title, caption, and date -->
                    <project-card
                    :Title="this.titles[i]"
                    :Caption="this.captions[i]"
                    :Date="this.dates[i]"
                    />
                </div>
            </div>
            
        </div>
    </div>
</div>