<div class="container HomeComponent__container">
    <div class="row text-center ">
        <div class="col-6">
            <div class="HomeComponent__introBox">
                <div class="flex-row text-center">
                    <div class="col-lg">
                        <h1>Hanna Alanizi</h1>
                    </div>
                    <hr>
                    <div class="col-lg">
                        <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sagittis turpis justo. Mauris nisl mauris, elementum eget velit ac, tempus eleifend sem. Quisque at pretium erat. Quisque fermentum pellentesque leo id feugiat. Nulla et blandit massa, nec varius lectus. Proin orci ligula, facilisis et feugiat quis, sollicitudin sed felis.</h5>
                    </div>
            
                </div>
            </div>
        </div>
        <div class="col-6">
            <img :src="require('/home/halanizi/halanizi.github.io/src/assets/hanna-headerImgcircle.png')" class="HomeComponent__introImg img-fluid">
        </div>
    </div>
    <!-- <div class="HomeComponent__introBox">
        <div class="flex-row text-center">
            <div class="col-lg">
                <h1>Hanna Alanizi</h1>
            </div>
            <hr>
            <div class="col-lg">
                <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sagittis turpis justo. Mauris nisl mauris, elementum eget velit ac, tempus eleifend sem. Quisque at pretium erat. Quisque fermentum pellentesque leo id feugiat. Nulla et blandit massa, nec varius lectus. Proin orci ligula, facilisis et feugiat quis, sollicitudin sed felis.</h5>
            </div>
    
        </div>
    </div> -->
    <!-- <div class="HomeComponent__introImg">
        img goes here
    </div> -->
    

    <!-- <p>Text goes here of course</p> -->
</div>

