.HomeComponent__container{
    margin-top:200px;
    // padding: 0px 100px 0px 100px;
    // max-width: 500px !important;
}
.HomeComponent__introBox{
    max-width: 500px;
}


.HomeComponent__introImg{
    // border-radius: 50%;
    // display:inline;
    // margin:0 auto;
    height:80% !important;
    // width: auto;
}