.ProjectCard__container{
    background-color: $Medium_Teal;
    width: 500px !important;
    border-radius: 10px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    &:hover{
        cursor: pointer;
        transform: translate(0,-10px);
        transition-duration: 3,5s;
    }
}